style.css

body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

.dashboard-container {
    width: 90%;
    margin: auto;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1)
}